<?xml version="1.0"?>
<!--Segway Robot Description Launch File-->
<launch>
  <!-- Type of robot. For example RMP_210, RMP_440SE, etc. Should exactly match one of the directories in the urdf folder -->
  <arg name="robot_name"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find segway_description)/urdf/description.urdf.xacro'
    robot_name:=$(arg robot_name)" />
</launch>
